body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, "Inter", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-group {
  display: flex;
  flex-direction: column;
  position:relative; 
  padding: 8px;
  transition: box-shadow 0.3s ease;

}
.input-group::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background-color: #aaa;
}

.input-group::after {
  position: absolute;
  content: '';
  transition:left 0.5s ease, width 0.5s ease;
  width: 0%;
  height:3px;
  border-radius: 20px;
  bottom: 0;
  left: 50%;
  background-color: #6497B1;
}

.input-group:focus-within::after {
  width: 100%;
  left: 0;
}


input {
  border: none; 
  outline: none;
  margin: 8px;
  position: relative; 
  z-index: 1;
  
}

.input-group:focus-within {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  width: 75px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: #6497B1;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button.full-width {
  width: 100%;
}

button:hover {
  background-color: #4A7C9E;
}

button:active {
  background-color: #3A6A8A;
}

h1 {
  text-align: center;
  margin: 20px;
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 3rem;
}

.container {
  transition: width 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  padding: 100px;
  box-sizing: border-box;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-right: 1px solid #aaa;
  background-color: white;
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 1.5rem;
  gap: 20px;
}

.container-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  /* align-items: center; */
  gap: 20px;
  padding: 20px;
  color: rgb(100,100,100);
  font-weight: 300;
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 500px;

}
ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: white;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: 1px solid #aaa;

}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}